html
{
    // 由于 Chrome 的字体 Bug，这里不能用百分比。
    font-size: 10px;
}

body
{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.6rem;

    a:focus
    {
        outline: 0px none;
        text-decoration: none;
    }

    a:hover
    {
        text-decoration: underline;
    }
}
