extends ./templates/layout

block res
    link(rel="stylesheet", href="assets/zdr/common/res/errors.css")

block body
    .container-fluid
        .error
            h1.header
                a(href="/")
                    img(src="assets/zdr/common/res/img/zhihu_daily_logo.png", alt="知乎日报")
            .content.text-center
                p: strong 你似乎来到了没有知识存在的荒原...
                p 请确认来源链接是否正确？日报是否存在？
                hr
                p
                    a(href="/") 返回首页
                    span  或者 
                    a#history-back(href="javascript:;") 返回上页

block scripts
    script(src="assets/libs/jquery/jquery.min.js")
    script(src="assets/zdr/common/error_404.js")