extends ./templates/layout

append stylesheets
    link(rel="stylesheet", href="assets/common/css/errors.css")

block body
    .page
        .error
        



    h1= message
    h2= error.status
    pre #{error.stack}
