extends ./templates/layout

block res
    script(src="assets/libs/react/react.min.js")
    link(rel="stylesheet", href="assets/zdr/bundle.css")

block body
    .container-fluid
    script(src="assets/zdr/bundle.js")
