extends ./templates/layout

block res
    script(src="assets/libs/react/react.min.js")
    link(href="assets/zdr/bundle.css", rel="stylesheet")

block body
    .container-fluid
    script(src="assets/zdr/bundle.js")
