extends ./templates/layout

block res
    script(src="assets/libs/react/react.min.js")
    script(src="assets/libs/bootstrap/js/bootstrap.min.js")
    link(href="assets/zdr/index.bundle.css", rel="stylesheet")

block body
    #container.container-fluid
    script(src="assets/zdr/index.bundle.js")
