extends ./templates/layout

block res
    script(src="/assets/libs/react/react.min.js")
    script(src="/assets/libs/bootstrap/js/bootstrap.min.js")
    script(src="/assets/libs/signals/signals.min.js")
    script(src="/assets/libs/lodash/lodash.min.js")
    script(src="/assets/zdr/build/index.bundle.js")
    link(href="/assets/zdr/build/index.bundle.css", rel="stylesheet")