extends ./templates/layout

append res
    script(src="assets/lib/react/react.js")
    script(src="assets/lib/react/JSXTransformer.js")

append scripts
    script(src="assets/zdr/index.js", type="text/jsx")