extends ./templates/layout

append res
    link(href=map.zdr.css, rel="stylesheet")
    script(src=map.vendor.js)

append body
    #MainContainer.container-fluid

append scripts
    script(src=map.zdr.js)
