extends ./templates/layout

block res
    script(src="assets/libs/jquery/jquery.min.js")
    script(src="assets/libs/react/react.min.js")

block body
    .container-fluid
    script(src="assets/zdr/bundle.js")
