doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title= "知乎日报阅读器"
        link(rel="stylesheet", href="assets/lib/bootstrap/css/bootstrap.min.css")
        block stylesheets
        script(src="assets/lib/jquery/jquery.min.js")
    body
        block body
        block scripts