extends ./templates/layout

append res
    link(href=map.error.css, rel="stylesheet")

append body
    .container
        .error
            h1.header
                a#logo(href="/")
            .content.text-center
                p: strong 你似乎来到了没有知识存在的荒原...
                p 请确认来源链接是否正确？日报是否存在？
                hr
                p
                    a(href="/") 返回首页
                    span  或者
                    a(href="javascript:;", onclick="history.go(-1)") 返回上页
