* {
  box-sizing: border-box;
  font-family: 'Microsoft Yahei', Verdana, 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
  font-size: 88%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

a {
  color: blue;
}

img {
  border: none;
}
