@import "../common/res/global.less";

body, html
{
    height: 100%;
}

body
{
    padding-top: 51px;
    background-color: #C0C9D7;

    #MainContainer
    {
        padding-left: 0;
        padding-right: 0;
    }

    &.modal-open
    {
        /* 修正 bootstrap modal dialog 导致的错位。 */
        .Navbar
        {
            padding-right: 15px;
        }
    }
}
