@import "../common/res/global.less";

body
{
    padding-top: 51px;

    .MainContainer
    {
        min-width: 300px;

        .Navbar
        {
            min-width: 300px;
        }

        .Carousel
        {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
