@import "../common/res/global.less";

body
{
    padding-top: 51px;

    .MainContainer
    {
        .CarouselContainer
        {
            background-color: #EEE;
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
