html
{
    font-size: 62.5%;
}

body
{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.6rem;

    a:focus
    {
        outline: 0px none;
    }
}
