body
{
    font: 16px/1.7 "Helvetica Neue", Helvetica, Arial, Sans-serif;
    background-color: #EFF2F5;
}

a
{
    text-decoration: none;
    color: #105CB6;
}

a:hover
{
    text-decoration: underline;
}

.error
{
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error .header
{
    overflow: hidden;
    margin: 1rem 0;
}

.error .header img
{
    vertical-align: middle;
}

.error strong
{
    font-size: 2rem;
    color: #000;
}

.error hr
{
    margin: 2rem 0;
}

.error .content
{
    padding: 2rem 1.5rem;
    border: 1px solid #BABBBC;
    border-radius: 5px;
    background-color: #F7F7F7;
    text-align: center;
}

.error .content p
{
    margin-bottom: 2rem;
    color: #999;
}

.error .content p:last-child
{
    margin-bottom: 0;
}
